  /* FORM AND INPUT STYLES */
  //        MAIN COLORS        //

@mixin basicTextColor ($opacity) {
    color: rgba(222, 193, 149, $opacity); 
}



  form {
    background-color:transparent;
    width: 40em;
    padding: 0.5em 0.2em .9em;
    text-align: center;
    margin: auto;
  }
  .inputArea {
    position: relative;
    text-align: center;
    width: 80%;
    margin: .7em .5em .7em;
    margin-left: auto;
    margin-right: auto;

        input {
            font-size:1em;
            padding:.6em .4em .3em 5px;
            display:block;
            border:none;
            border-bottom:1px solid #7B7D1E;
            background-color: transparent;
            width: 100%;

        }
        input:focus ~ label, input:valid ~ label {
            top: -.7em;
            font-size: .7em;
            @include basicTextColor(0.521);
        }

        
        /* FORM LABELS */


        label {
            @include basicTextColor(0.678);
            font-size:1em;
            font-weight:normal;
            position:absolute;
            pointer-events:none;
            left:5px;
            top:.5em;
            transition:0.4s ease-in-out all; 
            -moz-transition:0.4s ease-in-out all; 
            -webkit-transition:0.4s ease-in-out all;
        }

        input:focus	{ 
            outline:none; 
        }
        input:invalid {

        }
        
        input:required:invalid {
            outline: none;
            box-shadow: none;
        }

        /* ANIMATED BAR UNDER INPUTS */

        .bar 	{ 
            position:relative; 
            display:block;
            width: 100%;
        }
        .bar:before, .bar:after 	{
            content:'';
            height:1px; 
            width:0px;  
            bottom:1px; 
            opacity: .7;
            position: absolute;
            background-color:#7B7D1E; 
            -webkit-box-shadow: 0px 0px 2px 0px rgba(222,193,149,.5);
            -moz-box-shadow: 0px 0px 2px 0px rgba(222,193,149,.5);
            box-shadow: 0px 0px 2px 0px rgba(222,193,149,.5);
            transition:0.4s ease-in-out all; 
            -moz-transition:0.4s ease-in-out all; 
            -webkit-transition:0.4s ease-in-out all;
        }
            .bar:before {
            left:50%;
        }
            .bar:after {
            right:50%; 
        }
        
        input:focus ~ .bar:before, input:focus ~ .bar:after {
            width:50%;
        }
  }





/*      FORM BUTTONS      */
    .customButton {
        background-color: transparent;
        font-size: 1em; 
        @include basicTextColor(.678);
        border: 1px solid #7B7D1E;
        padding: .5em 1em;
        border-radius: .1em;
        margin: .5em;
        transition:0.2s ease-in-out all; 
        -moz-transition:0.2s ease-in-out all; 
        -webkit-transition:0.2s ease-in-out all;
        }
        button:hover {
        @include basicTextColor(1);
        -webkit-box-shadow: 0px 0px 2px 0px rgba(222,193,149,1);
        -moz-box-shadow: 0px 0px 2px 0px rgba(222,193,149,1);
        box-shadow: 0px 0px 3px 1px rgba(222,193,149,1);
    } 

/*    SELECT     */


 .selectContainer {
    position: relative;
    @include basicTextColor(.678);
  }
  
  .selectDiv select {
    display: none;          //hide original select element
  }
  
  .selectSelected {
    background-color: $secondaryBgColor;
    @include basicTextColor(1);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,.2);


  }
  
  /* Style the arrow inside the select element: */
  .selectSelected:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .selectSelected.selectArrowDown:after {
    border-color: transparent transparent #fff transparent;
    top: 11px;

  }
  
  /* style the items (options), including the selected item: */
  .selectItems div,.selectSelected {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .selectItems {
    position: absolute;
    background-color: $secondaryBgColor;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,.2);

  //  border: 1px solid transparent;
    //border-color: transparent rgba(0,0,0,.5) rgba(0,0,0,.5) rgba(0,0,0,.5);
  }
  
  /* Hide the items when the select box is closed: */
  .selectInvisible {
    display: none;
  }
  
  .selectItems div:hover, .darken {
    background-color: rgba(0, 0, 0, 0.1);
  } 

  /*    INPUT FILE      */

  .inputFile {
    position: relative;
    width: 30em;
    margin: auto;
  }

  .fakeFile {
    display: flex;
  }

  .file {
    z-index: 2;
    opacity: .0;
    left: 0%;
    position: absolute;
    background-color: palegreen;
    width: 100%;
    height: 100%;
  }

  .fileRight {
      width: 100%;
      padding: 0 1.2em 0 .4em;
      position: relative;
      text-align: center;
      width: 20em;
      margin: .7em .5em .7em;
  }
  .fileLeft {

  }

  .fileButton {
        background-color: transparent;
        font-size: 1em; 
        @include basicTextColor(.678);
        border: 1px solid #7B7D1E;
        padding: .5em 1em;
        border-radius: .1em;
        margin: .5em 0;
        transition:0.2s ease-in-out all; 
        -moz-transition:0.2s ease-in-out all; 
        -webkit-transition:0.2s ease-in-out all;
        white-space: nowrap;
    }

  .fileInput {
        color: rgba(222, 193, 149, .678)!important;
        padding: .4em 0;
        display: block;
        border: 1px solid transparent;
        border-bottom:1px solid #7B7D1E !important;
        background-color: transparent;
        width: 100%;
        
    }